<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 88vh;">
        <div class="col-md-8 col-xs-12 text-center">
            <div class="card bg-light">
                <div class="card-body">
                    <h1 class="card-title">🗯 <span class="badge bg-primary"> About the Project</span></h1>
                    <p class="card-text">This is built on Angular and uses locally stored data for the display of info. There were literally no APIs offering PUBG Mobile/PC infos. So I manually had to do all the collection of data for this project</p>
                    <p class="card_text">This kind of tool is useful for pro players as they refer this data and practice for their competitive matches </p>
                </div>
            </div>
        </div>
    </div>
</div>